<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Kindle Status Screen</title>
	
	<link rel="stylesheet" href="/static/jquery.gridster.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
<body>
	<section id="notifications"><h1 class="fill">Notifications</h1><p class="fill invisible">Placeholder Text</p></section>
  <div class="gridster">
    <ul>
      <!-- Info (top row) -->
      <li data-row="1" data-col="3" data-sizex="4" data-sizey="2" id="time" class="fill invisible">00:00</li>
  		<li data-row="1" data-col="1" data-sizex="2" data-sizey="2"  id="weather" class="invisible">
  			<h1 class="label">Currently: </h1>                     
  			<p id="weather_currently" class="fill"></p>            
  			<h1 class="label">Next: </h1>                          
  			<p id="weather_next" class="fill"></p>                 
  			<h1 class="label">Later: </h1>                         
  			<p id="weather_later" class="fill"></p>                
  		</li>                                                    
  		<li data-row="1" data-col="6" data-sizex="2" data-sizey="2" id="temperature" class="invisible">
  			<p><span id="fahrenheit" class="fill">00</span> <span class="secondary">&deg;F</span></p>
  			<p><span id="celsius" class="fill">00</span> <span class="secondary">&deg;C</span></p>
  		</li>
      
      <!-- Buttons -->
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="4" id="buttons">
        <button class="off" id="light1">Light 1</button>
        <button class="off" id="light2">Light 2</button>
      </li>
      
      <!-- Dining -->
    	<li data-row="3" data-col="3" data-sizex="6" data-sizey="1" id="dining">
    		<p id="daka" class="invisible">DAKA is <span id="daka-status" class="fill em"></span> and will <span id="daka-change-text" class="fill"></span> in <span id="daka-change-time" class="fill em"></span>.</p>
    		<p id="spoon" class="invisible">The Spoon is <span id="spoon-status" class="fill em"></span> and will <span id="spoon-change-text" class="fill"></span> in <span id="spoon-change-time" class="fill em"></span>.</p>
    	</li>
      
      <!-- Will -->
      <li data-row="4" data-col="3" data-sizex="3" data-sizey="1" class="will"><h1>Will</h1></li>
  		<li data-row="5" data-col="3" data-sizex="3" data-sizey="1" class="will location">
  			<p class="place fill invisible">Location Unknown</p>
  			<p class="activity fill invisible">Unknown</p>
  		</li>
			<li data-row="6" data-col="3" data-sizex="1" data-sizey="1" class="will meals normal-meals">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Meals</p>
			</li>
			<li data-row="6" data-col="4" data-sizex="1" data-sizey="1" class="will meals special-meals">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Special Meals</p>
			</li>
			<li data-row="6" data-col="5" data-sizex="1 " data-sizey="1" class="will meals bonus-points">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Bonus Points</p>
			</li>
      
      <!-- Ian -->
      <li data-row="4" data-col="3" data-sizex="3" data-sizey="1" class="ian"><h1>Ian</h1></li>
  		<li data-row="5" data-col="3" data-sizex="3" data-sizey="1" class="ian location">
  			<p class="place fill invisible">Location Unknown</p>
  			<p class="activity fill invisible">Unknown</p>
  		</li>
			<li data-row="6" data-col="3" data-sizex="1" data-sizey="1" class="ian meals normal-meals">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Meals</p>
			</li>
			<li data-row="6" data-col="4" data-sizex="1" data-sizey="1" class="ian meals special-meals">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Special Meals</p>
			</li>
			<li data-row="6" data-col="5" data-sizex="1 " data-sizey="1" class="ian meals bonus-points">
				<input class="dial fill number" type="text" value="0" />
				<input class="dial fill days" type="text" value="0" />
				<p>Bonus Points</p>
			</li>
    </ul>
  </div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js" type="text/javascript"></script>
	<script src="/static/jquery.gridster.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript"></script>
	<script src="/static/jquery.knob.js"></script>
	<script src="/static/script.js"></script>
	<script src="https://apis.google.com/js/auth.js?onload=update" type="text/javascript"></script>
	<script>try {
		kindle.dev.setOrientation("landscape");
	} catch (e) {}</script>
</body>
</html>