<!doctype html>
<html lang="en" ng-app="Kindle">
<head>
	<meta charset="UTF-8" />
	<title>The Kindle on the Wall</title>
	
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body ng-controller="kindle">
{% raw %}
	<tabs>
		<pane ng-repeat="pane in tabs" heading="{{pane.heading}}" active="pane.active" slug="{{pane.slug}}">
			<ng-include src="'/static/partials/' + pane.slug + '.html'" />
		</pane>
	</tabs>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js" type="text/javascript"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>	
	<script src="/static/js/lib/custom-ui-bootstrap.js"></script>
	<script src="/static/js/updater.js"></script>
	<script src="/static/js/script.js"></script>
{% endraw %}
</body>
</html>